.tile-xs {
  -webkit-box-flex: 0;
  flex: none;
  min-height: 214px;
}

/* menu */

.navbar.is-dark .navbar-end .navbar-link.is-active {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

a.is-active.navbar-item.router-link-exact-active {
  background-color: transparent !important;
}

a.navbar-link {
  color: white;
}

.navbar-menu.is-active {
  background-color: #363636;
}

.navbar-menu.is-active:before {
  content: "";
  top: -42px;
  width: 100%;
  height: 100px;
  background: #363636;
  z-index: -1;
  position: fixed;
} 

/* menu end */

.title-animated {
  margin: auto;
  padding: 2rem;
}

#footer {
  padding: 5rem;
}

.contact .button {
  margin-top: 2rem;
}

#messages {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1111111;
}

#messages .notification {
  margin: 0;
}

.selfie-vector svg {
  max-width: 540px;
  max-height: 530px;
  width: 20%;
  height: 20%;
}

.page-content {
  overflow: hidden;
}

@media screen and (min-width: 376px) {
  .tile-xs {
    -webkit-box-flex: 0;
    -ms-flex: none;
    width: 50%;
    float: left;
    min-height: 165px;
  }
}

@media screen and (min-width: 472px) {
  .tile-xs {
    min-height: 237px;
  }

  .footer-menu {
    max-width: 120px;
    margin: auto;
  }

  .title-animated {
    max-width: 50%;
  }
}

@media screen and (min-width: 769px) {
  .tile-xs {
    min-height: 196px;
  }

  .contact-form {
    max-width: 50%;
    margin: auto;
    min-height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-menu {
    background-color: transparent;
  }
}

