/* IMPORTANT
https://pyrocms.com/forum/channels/themes/unclosed-comment-twig-error-when-including-css-file
rules starting with '#' cause a crash with browser output "unclosed comment" 
*/

body {
  background-color: #fdfdfd;
}

.loadinghtml {
  max-height: 100%;
  height: 250px;
  width: 100%;
  margin: auto;
}

.loadinghtml .icon {
  margin: auto;
}

a.navbar-item.router-link-exact-active {
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
} 

blockquote, .title, .subtitle {
  /* font-family: 'Francois One', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-size: medium; */
  /* font-weight: 100; */
  /* font-weight: bold; */
}
/*      ---------------------------------------  */

nav.navbar {
  background-color: #0074bc;
  color: #fdef7c;
}

.navbar-brand nav.navbar a {
  color: #fdef7c;
  background-color: transparent;
}

.is-fixed-top .navbar-brand a,
.is-fixed-top .navbar-brand a:hover {
  color: #fdef7c;
  font-weight: bold;
  background: transparent;
}

a.is-active.navbar-item.router-link-exact-active {
  background-color: transparent !important;
}

.navbar-menu.is-active {
  background-color: #025d96;
}

a.navbar-link {
  color: white;
  text-align: left;
}

/*      ---------------------------------------  */

.page-content {
  overflow: hidden;
}

.title-animated {
  margin: auto;
  padding: 2rem;
  border: red 2px dotted;
}

.box-thumb {
  display: none;
}

.fadestrip {
  height: 30px;
  position: relative;
  top: -30px;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, white));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, white 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

p.title {
  color: #0074bc;
}

/* -------------- footer -------------- */

footer#footer {
  padding: 5rem;
  background-color: #363636;
  color: white;
}

footer a.navbar-link {
  padding: .5rem 1rem;
}

.footer-menu.buttons {
  justify-content: center;
}

footer .column {
  margin-top: 30px;
}

footer#footer .icone svg {
  height: 40px;
  width: 50px;
  vertical-align: middle;
  fill: white;
}

footer#footer p,
footer#footer p a {
  color: white;
  white-space: nowrap;
  line-height: 1.6em;
}

footer#footer .menu-label {
  width: 100%;
}

a.navbar-link.router-link-exact-active.is-active.is-primary {
  color: white;
  font-weight: bold;
}

footer a.navbar-link::after {
  content: none;
}

/* -------------- end footer -------------- */

.contact .button {
  margin-top: 2rem;
}

fieldset {
  border: 0;
}

div#messages {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1111111;
}

div#messages .notification {
  margin: 0;
}

blockquote {
  font-size: x-large;
}

.animated-svg svg,
.animated-svg img {
  max-width: 540px;
  max-height: 330px;
  width: 80%;
  margin: auto;
}

.menu-label:first-child {
  margin-bottom: 0;
}

/* -------------- devis page -------------- */

section#devis {
  background-color: #0074bc;
  color: white;
}

section#devis p.subtitle {
  margin-top: 20px;
}

section#devis .container {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -10px 50px;
}

/* -------------- end devis page -------------- */

.d_blue {
  background-color: #0074bc;
}

.d_white,
.ajaxpage > section {
  background-color: white;
}

.d_yellow,
.hero.galerie,
.loadinghtml {
  background-color: #fdef7c;
}

/* -------------- service pages -------------- */

.ajaxpage section.hero .column svg {
  border: 2px solid rgba(255, 0, 0, 0);
  border-radius: 50% 50%;
  transform-box: view-box;
  background-color: #0074bc;
  padding: 15px;
  width: 200px;
  height: 200px;
  margin: 5% 0;
}

.ajaxpage section.hero .hero-head p {
  color: #0074bc !important;
}

.ajaxpage section.hero svg path {
  fill: #fdef7c;
}

section#galerie .pictures {
  overflow: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.hero .column p,
.hero .column ul {
  margin-bottom: 1.5em;
}

/* -------------- end service pages -------------- */

section#devis .title,
section#devis .subtitle,
section#devis a {
  color: #fdef7c;
}

/* -------------- scrollbar ----------------- */

/* width */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*end scrollbar*/


/* scroll animation classes */

.in-view:not(.in-view-active) {
  opacity: 0.3;
}

.in-view-active {
  /* color: red;
    background-color: red;
  */
}

.in-view-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}


/* ------------- eula box --------------- */

div#cookie-accept {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #363636;
  z-index: 110000;
}

div#cookie-accept i.fas {
  margin-left: 10px;
}

div#cookie-accept,
div#cookie-accept .subtitle {
  color: white;
}

/* end eula box */

section#contact .icone svg,
section#devis .icone svg {
  height: 50px;
  width: 40px;
}

/* -------------------------- responsive  ----------------------------- */

@media screen and (min-width: 376px) {
  footer#footer .menu-label {
    width: initial;
  }
}

@media screen and (max-width: 769px) {
  section#devis .container {
    background-size: 200px;
    background-position: 20px 650px;
    padding-bottom: 115px;
    /* background-attachment: fixed; */
  }
}

@media screen and (max-width: 472px) {
  section#devis .container {
    background-size: contain;
    background-position: bottom;
    background-size: 200px;
    background-position: 0px 680px;
    padding-bottom: 100px;
    background-attachment: initial;
  }
}

