<footer id="footer">
    <div class="has-text-centered">
        
                <div class="footer-menu">
                  <!-- navbar items --> 

                      <router-link tag="a" to="/" class="button is-fullwidth menu-label" exact>
                          Home
                      </router-link>

                      <router-link tag="a" to="/projects" class="button is-fullwidth menu-label" >
                          Projects 
                      </router-link>


                      <router-link tag="a" to="/contact" class="button is-fullwidth menu-label" >
                          Contact
                      </router-link> 

                              {% if auth_check() %} 
                                  <hr/>

                                  <router-link tag="a" to="/comments" class="button is-fullwidth menu-label" >
                                      Comments 
                                  </router-link>

                                   <a href="/dev" class="button is-fullwidth menu-label">Dev</a>  

                              {% endif %}

                </div>
        
        &copy;{{ 'now'|date('Y') }} All rights reserved.

    </div>
         

</footer>
