    
<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    
    <div class="navbar-brand">
         
        <router-link tag="a" to="/" class="navbar-item" exact>
            RADJA
        </router-link>

      <a role="button" class="navbar-burger has-text-white" aria-label="menu" :aria-expanded="menuOpen"  :class="{ 'is-active': menuOpen }" @click="menuOpen = !menuOpen">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
        
    </div>

    
    
    <div class="navbar-menu" v-bind:class="{ 'is-active': menuOpen }" >
        
      <div class="navbar-start">
        <!-- navbar items -->
      </div>

      <div class="navbar-end">

            <!-- navbar items --> 
            <router-link tag="a" to="/" class="navbar-link" exact>
                Home
            </router-link>

            <router-link tag="a" to="/projects" class="navbar-link" >
                Projects 
            </router-link> 

            <router-link tag="a" to="/contact" class="navbar-link" >
                Contact
            </router-link> 

                    {% if auth_check() %} 
                        <hr/>
                       <!-- js router link -->
                        <router-link tag="a" to="/comments" class="navbar-link" >
                            Comments 
                        </router-link>

                       <!-- classic HTML link -->
                         <a href="/dev" class="navbar-link">Dev</a>  

                    {% endif %}

      </div>
    </div>
    
</nav>
