
        <noscript class="hero hero-body">
                <h1 class="has-text-centered has-text-danger title"> 
                    Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.
                </h1>
                <p class="has-text-centered subtitle">
                    Voici les <a href="https://www.enable-javascript.com/fr/"> instructions pour activer JavaScript dans votre navigateur Web</a>.
                </p>
        </noscript> 